{
  "plugins": [
    "glslify",
    "transform-object-rest-spread",
    "transform-class-properties",
    [
        "babel-plugin-inline-import",
        { "extensions": [ ".glsl" ] }
    ]
  ],
  "presets": ["es2015", "airbnb"]
}
